

#import-product-page {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 40px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    & h4 {
        text-align: start;
    }
    
    & .form-input {
        margin-top: 10px;

        & .form-group {
            display: flex;
            justify-content: center;
            align-items: start;
            margin-top: 10px;
            position: relative;

            i {
                position: absolute;
                right: 2px;
                font-size: 25px;
                color: #c2c2c2;
                cursor: pointer;
            }

            & .result-area {
                z-index: 2;
                top: 41px;
                left: 115px;
                position: absolute;
                width: 351px;
                height: 0px;
                transition: 0.5s;
                background-color: white;
                border: 1px solid #dfdfdf;
                border-radius: 0 0px 10px 10px;
                border-top: 0;
                overflow-y: auto;

                & .result-item{
                    width: 100%;
                    height: 50px;
                    margin: 5px 0;
                    display: flex;
                    align-items: center;
                    text-align: start;
                    line-height: 20px;
                    cursor: pointer;

                    & img {
                        margin: 0 10px;
                    }
                }
            }
    
            & label {
                text-align: start;
                width: 170px;
                font-size: 17px;
            }
    
            & input, & select {
                width: 500px;
                height: 37px;
            }

            & select {
                border-radius: 5px;
                border: 1px solid #dee2e6;
                transition: 0.5s;
            }

            & select:focus {
                outline: #dee2e6;
            }
    
            & button {
                margin: 10px 4px;
            }

            & .txt-image {
                width: 200px;
            }
            & .images-area {
                width: 300px;
                height: 37px;
                padding-left: 10px;
                display: flex;
                justify-content: start;
    
                & button {
                    background: 0;
                    border: 0;
                    position: absolute;
                    top: -15px;
                    right: -12px;
                }
    
                & img {
                    margin: 0 3px;
                }
            }

            & .sizes-area {
                width: 500px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                & .size-item {
                    margin: 3px;
                    border: 2px solid #dee2e6;
                    padding: 0 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.5s;
                }

                & .active {
                    background-color: #e2e2e2;
                }
            }

            & .colors-area {
                width: 500px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                
                & .color-item {
                    height: 19px;
                    width: 19px;
                    border-radius: 16px;
                    margin: 5px;
                    cursor: pointer;
                    padding-bottom: 5px;
                    transition: 0.5s;
                }

                & .active {
                    border-radius: 5px;
                    height: 22px;
                    width: 22px;
                }
            }
        }
    }


    & .collection {

        height: 600px;
        padding-left: 40px;
        text-align: start;

        & .total {
            font-size: 16px;
            margin-right: 20px;
            display: flex;
            align-items: center;

        }

        & .table {
            margin-top: 10px;
            font-size: 14px;

            & .table-container {
                overflow-y: auto;
                height: 440px;
            }

            & tr {
                transition: 0.5s;
            }

            & th{
                position: sticky;
                top: 0;
                z-index: 2;
                border: 1px solid #dfdfdf;
                padding: 5px 7px;
                background-color: white; 
            }

            & .active {
                background-color: #efefef;
            }

            & td {
                border: 1px solid #dfdfdf;
                padding: 5px 15px;
                cursor: pointer;
                height: 100%;

                & .color-area {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    & .color-item {
                        height: 19px;
                        width: 19px;
                        border-radius: 16px;
                        margin: 5px;
                        cursor: pointer;
                        padding-bottom: 5px;
                        transition: 0.5s;
                    }

                }

                & .color-item-table {
                    height: 17px;
                    width: 17px;
                    border-radius: 50%;
                }

                & .image-area {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    & img {
                        margin: 0 3px;
                    }
                }
            }
        }
    }
}